body {
background-image:
			    linear-gradient(
			      rgba(0, 0, 0, 0.2), 
			      rgba(0, 0, 0, 0.2)
			    ), url("../images/baltimore.jpg");

/*background-image: url("../images/baltimore.jpg");*/
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 750px;
	width: 100%;
}

#map{
   	height: 500px;
   	width: 100%;
}

#rankHolder {
	max-width: 225px;
	width: 25%;
	background-color: lightgray;
	float: left;
	padding: 10px;
	margin: 25px;
}

#mapHolder {
	width: 50%;
	float: left;
	margin: 25px;
}

#topCities {
	margin: 25px;
	width: 25%;
	float: left;
	background-color: lightblue;
}